* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
  background-color: #f9f9f9;
}
.resumediv {
  width: 70%;
  border: 1px solid black;
}
header {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  padding-top: 80px;
  padding-bottom: 80px;

  background: linear-gradient(
    rgba(11, 70, 80, 1),
    rgba(11, 70, 80, 0.76)
  );
  margin-bottom: 30px;
}
.white {
  color: white;
}
header img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid black;
}
.content {
  width: 100%;
  display: flex;
}
.content aside {
  width: 30%;
  padding-left: 50px;
  padding-bottom: 50px;
  background-color: #f9f9f9;
}
.contact,
.education,
.skills,
.Language {
  margin-bottom: 30px;
}

.contact h2,
.education h2,
.skills h2,
.Language h2,
.experience h2,
.refrence h2 {
  border-bottom: 1px solid rgb(11, 70, 80);
  margin-bottom: 20px;
  padding-bottom: 3px;
  color:rgb(11, 70, 80);
}

.education P {
  line-height: 22px;
}
.skills ul {
  margin-left: 18px;
}

.main-content {
  padding-left: 50px;
  width: 70%;
  background-color: white;
}
.experience-items {
  margin-bottom: 60px;
}
.experience-items p {
  margin-bottom: 5px;
}
.experience-items ul {
  margin-left: 18px;
  margin-top: 15px;
}
.btndiv {
  width: 70%;
  padding: 2%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
}

.btn {
  font-size: 18px;
  font-weight: 600;
  padding: 10px 14px;
  border-radius: 8px;
  color: white;
  background-color: rgb(11, 70, 80);
  cursor: pointer;
  &:hover {
    background: #007b9e;
  }
  &:active {
    transform: scale(0.95);
  }
}
.hide {
  display: none;
}

@media print {
  .btndiv {
    display: none;
  }
}

@media (max-width: 786px) {
  .content {
    flex-direction: column;
  }
  .content aside,
  .main-content {
    width: 100%;
  }
}
